@font-face {
    font-family: odin;
    src: url("assets/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .bg-img, .form {
    height: 100%;
}

body {
    display: flex;
}

.bg-img {
    display: flex;
    flex-basis: 31%;
    flex-direction: column;
    padding: 10px 0;
    background-image: url("assets/bg-img.png");
    background-size: contain;
}

.logo {
    text-align: center;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    font-family: "odin", sans-serif;
    font-size: 5em;
}

.footer {
    margin-top: auto;
    text-align: center;
    color: white;
    font-size: 12px;
}

.form {
    flex-grow: 1;
}

img {
    height: 100px;
    width: auto;
}

a {
    color: white;
}